@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 28px;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 531px;
}

.banner .banner-text h1 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* featured section start */
#featured {
    padding: 100px 0;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
    padding: 15px 0;
}

.section-content .flower .flower-img {
    border-radius: 300px 300px 0px 0px;
    min-height: 450px;
    padding: 30px 15px 0;
    display: flex;
    align-items: flex-end;
}

.section-content .flower .flower-img img {
    max-width: 310px;

}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);
}

.section-content .flower .green {
    background: rgba(71, 125, 17, 0.15);
}

/* featured section end */
/* Services section start */
.our-services {
    display: flex;
    justify-content: space-around;
    padding: 87px 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.our-services .service p {
    text-align: center;
}

.our-services .service .service-img {
    max-width: 88px;
    max-height: 88px;
    margin: 0 auto;
}

.our-services .service .service-img img {
    width: 100%;
    height: 100%;
}


/* Services section end */
/* Hot deal section start */
.hot-deal{
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0;
    margin: 80px 0;
}
.hot-deal .hot-deal-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    
}
.hot-deal .hot-deal-main .hot-deal-text{
    text-align: center;
    max-width: 550px;
}
/* Hot deal section end */
/* Instragram section start */
.instragram-text{
    text-align: center;
    max-width: 594px;
    margin: 0 auto;
}
.instragram-img{
    display: flex;
    justify-content:center;
    gap: 24px;
    margin-top: 40px;
}
.my-img{
    max-width: 342px;
    max-height: 396px;
}
.my-img img{
    width: 100%;
    height: 100%;
}
/* Instragram section end */