@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 28px;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-text *{
    margin-bottom: 32px;
    max-width: 531px;
}
.banner .banner-text h1 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner .banner-img img{
    width: 100%;
    vertical-align: middle;
}